$backgroundDark: #363636;
$green: #95df71;
$red: #f04e4e;
$lightGrey: #848484;
$offWhite: #e0e0e0;

html {
	background-color: $backgroundDark;
	font-family: 'Sunflower', ;
	color: $offWhite;
	box-sizing: border-box;
	max-height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	letter-spacing: 1.5px;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.bgRed {
	background-color: $red;
}
.bgGreen {
	background-color: $green;
}
.bgDark {
	background-color: $backgroundDark;
}
.bgLight {
	background-color: $offWhite;
}

*::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: rgb(182, 182, 182);
	border-radius: 2px;
}

h1 {
	margin-top: 75px;
	text-align: center;
}

h2 {
	margin-top: 75px;
	margin-bottom: 100px;
	text-align: center;
}

.neomorphism {
	box-shadow: #262626 0px 0px 0px 0px, #2e2e2e 4px 4px 8px, #3f3f3f -2px -2px 4px;
	border-radius: 15px;
}

.neoInput{
	box-shadow: inset #262626 0px 0px 0px 0px,inset #2e2e2e 4px 4px 8px, inset #3f3f3f -2px -2px 4px;
	border-radius: 15px;

}

.button {
	width: 60px;
	text-align: center;
	
}

.primaryButton{
	padding: 15px !important;
}


.buttonConfirm {
	border: none;
	background-color: $backgroundDark;
	margin: auto;
	width: 150px;
	padding: 10px 5px;
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 15px;
	color:$offWhite;
	margin-top: 25px;
}

.backDrop {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.playerPicker {
	width: 50px;
	margin: auto;
	margin: auto;
	position: absolute;
	// bottom: 250px;
	box-sizing: border-box;
	height: 100px;
	width: 100%;

	div {
		margin: auto;
		width: 150px;
		padding: 10px 5px;
		text-align: center;
		font-size: 1.2em;
		margin-bottom: 15px;
	}
}

.nameContainer {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: auto;
	margin-top: 50px;

	input {
		background-color: transparent;
		border: none;
		margin-top: 20px;
		padding: 10px;
		color: $offWhite;
		text-align: center;
	}
	input:focus {
		outline: none;
	}

	.playbuttonContainer{
		margin-top: 45px;
		display: flex;

		button{
			margin: 20px;
		}
	}
}

#scoreBoard {
	width: 85%;
	margin: auto;
	margin-top: 15px;
	max-height: 150px;
	padding: 20px;
	overflow-y: scroll;

	.playerScore {
		text-align: center;
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	hr {
		width: 60%;
		border-color: rgba(255, 255, 255, 0.192);
		height: 0px;
	}
}

#playingPlayer {
	color: $offWhite;
	font-size: 1.4em;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	margin-top: 25px;
	text-align: center;
}

#currentScore {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 25px;
	width: 75%;

	#pendingScore {
		font-size: 3em;
	}
}

#input {
	margin-top: 50px;
	display: flex;
	.topInput {
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		position: absolute;
		bottom: 285px;
		width: 80%;
		margin-left: 10%;
		.bulsEye {
			width: 50px;
			height: 50px;
			border-radius: 100%;
			background-color: $red;
			margin: auto;
			box-sizing: border-box;
			border: $backgroundDark 10px solid;
		}
		.throws {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			align-items: center;
			justify-items: center;
			padding-left: 20px;
			padding-right: 20px;
			.arrowContainer {
				display: flex;
				flex-direction: row;

				.arrow {
					width: 10px;
					height: 20px;
					border: 2px solid rgba(255, 255, 255, 0.459);
				}
				.arrow1 {
					transform: skewY(-30deg);
				}
				.arrow2 {
					transform: skewY(30deg);
				}
			}
		}
		.bigBulsEye {
			width: 50px;
			height: 50px;
			border-radius: 100%;
			background-color: $backgroundDark;
			margin: auto;
			box-sizing: border-box;
			border: $green 10px solid;
			box-sizing: border-box;
		}
	}

	#bottomInput {
		background-color: $lightGrey;
		height: 260px;
		position: absolute;
		bottom: 0;
		width: 95%;
		margin-left: 2.5%;
		overflow-y: hidden;
		margin-bottom: 15px;
		display: flex;
		flex-direction: row;
		max-width: 100%;
		overflow-x: scroll;

		.inputContainer {
			min-width: 110px;
			.inputNumber {
				height: 40px;
				font-size: 1.5em;
				text-align: center;
				padding-top: 5px;
				box-sizing: border-box;
			}
			.center20 {
				color: $backgroundDark;
				background-color: $offWhite;
			}
			.inputTriple {
				height: 35px;
			}
			.inputRegularTop {
				height: 75px;
			}
			.inputDouble {
				height: 35px;
			}
			.inputRegularBottom {
				height: 75px;
			}
		}
	}
}

.popup-content {
	background-color: $backgroundDark !important;
	border: none !important;
	border-radius: 5px !important;
	width: 90% !important;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	h1 {
		margin-top: 5px;
	}

	.modalScoreBoard {
		width: 75%;
		margin: 0px auto;
		margin-bottom: 75px;
		div {
			margin: 5px;
			display: flex;
			justify-content: space-between;
			padding-bottom: 2.5px;
		}
	}

	.modalButtons {
		display: flex;
		width: 100%;
		flex-direction: row;
		position: absolute;
		bottom: 15px;
	}
}

.demo-content {
	height: 95% !important;
	width: 95% !important;

	img {
		// height: 75%;
		width: 60%;
		margin: auto;
		border: white 1px solid;
	}
}

.burned-content {
	height: 200px !important;
}
